<div class="jumbotron dashboard_show">
  <div class="row text-center">
    <div class="col-md-6">
      <h3><%= @user.first_name %></h3>
      <h6>Your API Key: <%= @user.api_key %></h6>
      <div class="img-thumbnail center-block">
        <%= image_tag(@user.picture_url) %>
      </div>
      <div class="inline-block">
        <%= link_to "Edit Profile", dashboard_edit_path(user_id: current_user.id) %></br>
        <%= link_to "View Profile", profile_show_path(user_id: current_user.id) %>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Description:</h3>
      <p> <%= @user.description %></p>
    </div>
  </div>
  <div class="row text-center">
    <h2>Trips: </h2>
    <ul class="trips">
    <% @trips.each do |trip| %>
      <li class='trip'>
        <h3> <%= link_to trip.listing.name, trip.listing %> </h3>
        <h5> Duration: <%= trip.duration %> nights </h5>
        <h5> Checkin: <%= trip.checkin %></h5>
        <h5> Checkout: <%= trip.checkout %></h5>
        <h5> Hosted by: <%= link_to trip.listing.host.first_name, profile_show_path(trip.listing.host) %></h5>
      </li>
    <% end %>
  </ul>
  </div>
</div>
