<div class="row text-center">
  <h1>Your Trips: </h1>
  <ul class="trips">
    <% @trips.each do |trip| %>
    <div class="listing col-sm-4">
      <div class="trip_wrapper">
          <h3> <%= link_to trip.listing.name, trip.listing %> </h3>
          <h5> Duration: <%= trip.duration %> nights </h5>
          <h5> Checkin: <%= trip.checkin %></h5>
          <h5> Checkout: <%= trip.checkout %></h5>
          <h5> Hosted by: <%= link_to trip.listing.host.first_name, profile_show_path(trip.listing.host) %></h5>
      </div>
    </div>
    <% end %>
  </ul>
</div>
