<h1> Confirm your reservation for <%= @trip.listing.name %> </h1>

<%= form_for @trip do |f| %>
  <%= f.label "Check In" %>
  <%= f.collection_select :checkin, @trip.listing.days.future_days, :id, :date %>

  <%= f.label "Check Out" %>
  <%= f.collection_select :checkout, @trip.listing.days.future_days, :id, :date %>

  <%= f.hidden_field :listing_id, value: @trip.listing.id %>

  <%= f.submit %>
<% end %>
