<h1>Login to Your Account</h1>

<div class="container login" style="margin-top:50px;margin-bottom:200px;">
  <div class="container-fluid well well-md text-center">
    <%= form_for(:session, url: login_path) do |f| %>
    <div class="form-group row">
      <%= f.label :email_address, class: "col-xs-2 col-form-label" %>
      <div class="col-xs-10">
        <%= f.text_field :email_address, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :password, class: "col-xs-2 col-form-label" %>
      <div class="col-xs-10">
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>

    <%= f.submit 'Login', id: "login-button", class: "btn btn-primary btn-lg btn-block" %>
    <% end %><br>

    <p>Not registered? <%= link_to "Create Account", signup_path%></p>
     <!-- #add path for create user  -->
  </div>
</div>
