<div class="jumbotron listing_show">
<h1> <%= @listing.name %> </h1>
  <div class="row text-center">
    <div class="col-sm-4">
      <h3>About this listing: </h3>
      <h4> <%= @listing.description %> </h4>
    </div>
    <div class="col-sm-4">
      <h3>Check out the beautiful listing: </h3>
      <%= image_tag @listing.image_url %>
    </div>
    <div class="col-sm-4">
      <div class="dates_available">
        <h3>Dates available: </h3>
        <% @listing.available_days.each do |day| %>
        <div class="date">
          <p> <%= day.date %> </p>
        </div>
        <% end %>
      </div>
    </div>
    </div>
    <div class="row text-center">
      <div class="jumbotron about_host">
        <h3>About this host: </h3>
        <div class="img-thumbnail center-block">
          <%= image_tag @listing.host.picture_url %>
        </div>
        <div class="inline-block">
          <%= @listing.host.first_name %>
          <%= @listing.host.description %>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <h3><%= link_to "Book this Listing", new_trip_path(listing: @listing) %></h3>
    </div>
</div>
