  <div class="row text-center welcome">
    <h2>Welcome to RESTful_stay</h2>
    <p>
      Book the trip of your dreams, browse listings in the cities below
    </p>
  </div>

<div class="jumbotron cities">
  <div class="row text-center">
    <div class="col-sm-4">
      <p> Colorado Springs </p>
      <div class="img-thumbnail center-block">
        <%= image_tag "colorado_springs.jpg" %>
      </div>
    </div>
    <div class="col-sm-4">
      <p> Denver </p>
      <div class="img-thumbnail center-block">
        <%= image_tag "denver.jpg" %>
      </div>
    </div>
    <div class="col-sm-4">
      <p> Boulder </p>
      <div class="img-thumbnail center-block">
        <%= image_tag "boulder.jpg" %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm-4">
      <p> Grand Junction </p>
      <div class="img-thumbnail center-block">
        <%= image_tag "grand_junction.jpg" %>
      </div>
    </div>
    <div class="col-sm-4">
      <p> Fort Collins </p>
      <div class="img-thumbnail center-block">
        <%= image_tag "fort_collins.jpg" %>
      </div>
    </div>
    <div class="col-sm-4">
      <p> Estes Park </p>
      <div class="img-thumbnail center-block">
        <%= image_tag "estes_park.jpg" %>
      </div>
    </div>
  </div>
</div>
