<div class="navbar navbar-default navbar-static-top", id: "navbar">
  <a href="/" class='navbar-brand'>RESTful_stay</a>
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="cities" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Colorado Springs</a></li>
            <li><a href="#">Denver</a></li>
            <li><a href="#">Boulder</a></li>
            <li><a href="#">Grand Junction</a></li>
            <li><a href="#">Fort Collins</a></li>
            <li><a href="#">Estes Park</a></li>
          </ul>
        </div>
      <% if current_user && current_user.host? %>
        <li> <%= link_to "Listings", listings_path %> </li>
        <li> <%= link_to "Trips", login_path %> </li>
        <li> <%= link_to "Messages", signup_path %> </li>
        <li> <%= link_to "#{current_user.first_name}" %> </li>
        <li> <%= link_to "About", about_path %> </li>
        <li> <%= link_to "Logout", logout_path, method: "delete" %> </li>
      <% elsif current_user %>
        <li> <%= link_to "Become a Host", userroles_path(become: 'host'), method: "post" %> </li>
        <li> <%= link_to "Trips", login_path %> </li>
        <li> <%= link_to "Messages", signup_path %> </li>
        <li> <%= link_to "#{current_user.first_name}" %> </li>
        <li> <%= link_to "About", about_path %> </li>
        <li> <%= link_to "Logout", logout_path, method: "delete" %> </li>
      <% else %>
        <li> <%= link_to "Login", login_path %> </li>
        <li> <%= link_to "Sign Up", signup_path %> </li>
        <li> <%= link_to "About", about_path %> </li>
      <% end %>
    </ul>
  </div>
</div>
