<% if current_user.host? %>
  <li> <%= link_to "Listings", listing_path %> </li>
  <li> <%= link_to "Trips", login_path %> </li>
  <li> <%= link_to "Messages", signup_path %> </li>
  <li> <%= link_to "#{current_user.first_name}" %> </li>
  <li> <%= link_to "About", about_path %> </li>
  <li> <%= link_to "Logout", logout_path, method: "delete" %> </li>
<% elsif current_user %>
  <li> <%= link_to "Become A Host", new_listing_path %> </li>
  <li> <%= link_to "Trips", login_path %> </li>
  <li> <%= link_to "Messages", signup_path %> </li>
  <li> <%= link_to "#{current_user.first_name}" %> </li>
  <li> <%= link_to "About", about_path %> </li>
  <li> <%= link_to "Logout", logout_path, method: "delete" %> </li>
<% else %>
  <li> <%= link_to "Login", login_path %> </li>
  <li> <%= link_to "Sign Up", signup_path %> </li>
  <li> <%= link_to "About", about_path %> </li>
<% end %>