<!DOCTYPE html>
<html>
<head>
  <title>RestfulStay</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Libre+Franklin:300,400,600,700&amp;lang=en" />
  <link rel="stylesheet" href="/css/bootstrap.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <script src="js/bootstrap.min.js"></script>
  <%= render partial: 'navbar' %>
    <div class="container-fluid">
      <% flash.each do |type, message| %>
    </div>
    <div class="container-fuid">
    <div class="alert alert-<%= type %>">
      <%= message %>
    </div>
  </div>
    <% end %>
  <div class="container">
    <%= yield %>
  </div>
</body>
<footer>
  <div class="container text-center">
    <p class="muted credit">Find us on:
      <a target="_blank" title="follow me on Twitter" href="http://www.twitter.com"><img alt="follow me on Twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter30x30.png" border=0></a> -
      <a target="_blank" title="follow me on facebook" href="http://www.facebook.com"><img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0></a> -
      <a target="_blank" title="follow me on instagram" href="http://www.instagram.com"><img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png" border=0></a>
    </p>
      <p class="muted credit">© RESTful_stay 2016</p>
  </div>
</footer>
</html>
