<!DOCTYPE html>
<html>
<head>
  <title>RestfulStay</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/css/bootstrap.css">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <script src="js/bootstrap.min.js"></script>
  <%= render partial: 'navbar' %>
    <div class="container-fluid">
      <% flash.each do |type, message| %>
    </div>
    <div class="container-fuid">
    <div class="alert alert-<%= type %>">
      <%= message %>
    </div>
  </div>
    <% end %>
  <div class="container">
    <%= yield %>
  </div>
</body>
<footer>
  <div class="container text-center">
      <p class="muted credit">© RESTful_stay 2016</p>
  </div>
</footer>
</html>
